.table {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 1100px;
}

table th {
    background: rgba(91, 115, 255, 0.692);
    border: solid 1px lightgray;
}

table th:first-of-type {
    border-left: none;
}

table th:last-of-type {
    border-right: none;
}